@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca');


* {
    margin: 0;
    padding: 0;
}

.container {
    border: 2px solid cyan;
    background-color: black;
    width: 90%;
    height: 400px;
    margin: 0 auto;
    color: white;
    position: relative;
}

.contentBox {
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    height: auto;
    margin: 0 auto;
    position: relative;
    top: 25%;
}

.innerBox {
    width: 50%;
    background-color: hsl(244, 38%, 16%);
    border: 1px solid beige;
    box-sizing: border-box;
}

.textContainer {
    background-color: hsl(244, 38%, 16%);
    height: auto;
    padding: 5px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: Lexend Deca;
    font-weight: 400;
}

.textContainer p {
    font-size: 10px;
}

.mainText {
    margin: 5px;
}

.subText {
    margin: 5px;
}

.littleBoxesContainer {
    margin-top: 20px;
}

.littleBox {
    margin: 0;
    width: 33.3%;
    float: left;
}

.fancyText {
    font-family: Inter;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}

.insights {
    color: hsl(277, 64%, 61%);
}

.workersImage {
    width: 300px;
    height: 250px;
}